.test_btn
  +size(100px, 50px)
  cursor: pointer
  &:hover
    background: #999
.login_area
  display: flex
  +ab_center
  +size(800px, 600px)
  background: #fdfdfd
  box-shadow: 0 15px 20px -15px var(--colorLightShadow)
  border-radius: 10px
  overflow: hidden
  .input_block
    width: 50%
    background: linear-gradient(90deg, var(--colorLightBoard), var(--colorLightShadowLight))
    overflow: hidden
    .login_board
      display: flex
      width: 200%
      flex-wrap: nowrap
      justify-content: space-between
      padding: 40px 75px 0 75px
      &.signup
        .wrapper
          &:first-child
            opacity: 0
            transform: translateX(-100%)
          &:last-child
            opacity: 1
            transform: translateX(calc(-100% - 150px))
      .wrapper
        width: calc(50% - 75px)
        transition: 0.5s
        transition-delay: 0.3s
        &:last-child
          opacity: 0
          input
            margin: 0 0 10px 0
        &.hide
          transition-delay: 0s
      .input_group
        position: relative
        display: flex
        justify-content: center
        &.active
          .label
            top: 11px
            font-size: 70%
        &.error
          animation: shake 0.5s forwards
          input
            background: var(--colorErrorBg)
            border: solid 1px var(--colorError)
          .show_password_btn
            top: 28px
        .label
          position: absolute
          top: 20px
          left: 20px
          color: var(--colorLightLabel)
          font-size: 100%
          // letter-spacing: 1px
          transition: 0.2s
          pointer-events: none
        .message
          position: absolute
          right: 12px
          top: 9px
          color: var(--colorError)
          font-size: 50%
          font-weight: 900
        .show_password_btn
          position: absolute
          right: 15px
          top: 17px
          background: transparent
          font-size: 120%
          cursor: pointer
          transition: top 0.1s
      label
        display: flex
        align-items: center
        cursor: pointer
        user-select: none
        input
          display: none
          &:checked
            ~ .checkbox
              &::before,
              &::after
                opacity: 1
        .checkbox
          position: relative
          +size(30px, 30px)
          margin-right: 15px
          background: linear-gradient(135deg, var(--colorMainLight), var(--colorLightShadowLight))
          box-shadow: 4px 4px 6px var(--colorLightBg), -4px -4px 4px var(--colorLightShadowLight), -4px -4px 8px var(--colorLightShadowLight)
          border-radius: 6px
          &:active
            background: linear-gradient(135deg, var(--colorLightShadowLight), var(--colorMainLight))
            box-shadow: inset 2px 2px 4px var(--colorLightBg), inset -2px -2px 2px var(--colorLightShadowLight)
          &::before,
          &::after
            content: ''
            position: absolute
            display: block
            background: var(--colorMainDeep)
            border-radius: 2px
            transform-origin: left top
            opacity: 0
          &::before
            +size(10px, 4px)
            top: 42%
            left: 25%
            transform: rotate(45deg)
          &::after
            +size(16px, 4px)
            top: 64%
            left: 34%
            transform: rotate(-45deg)
        .checkbox_text
          color: var(--colorLightInputText)
    .button_board
      margin-top: -150px
      padding: 0 75px
      transition: 0.5s
      &.signup
        margin-top: 20px
    .login_btn
      position: relative
      width: 100%
      margin-top: 20px
      padding: 12px 0
      font-size: 100%
      border-radius: 100px
      background: linear-gradient(135deg, var(--colorMainLight), var(--colorLightShadowLight))
      box-shadow: 4px 4px 6px var(--colorLightBg), -4px -4px 4px var(--colorLightShadowLight), -4px -4px 8px var(--colorLightShadowLight)
      color: var(--colorMainDeep)
      font-weight: 700
      cursor: pointer
      transition: 0.2s
      &:disabled
        background: var(--colorDisabled)
        box-shadow: none
        color: var(--colorLightLabel)
        pointer-events: none
        .arrow
          &::before
            color: var(--colorLightLabel)
      &:hover
        box-shadow: 4px 4px 12px var(--colorLightBg), -4px -4px 8px var(--colorLightShadowLight), -4px -4px 16px var(--colorLightShadowLight)
      &:active
        background: linear-gradient(135deg, var(--colorLightShadowLight), var(--colorMainLight))
        box-shadow: inset 2px 2px 4px var(--colorLightBg), inset -2px -2px 2px var(--colorLightShadowLight)
      .arrow
        position: absolute
        +size(35px, 35px)
        right: calc(100% - 35px - 8px)
        top: 4px
        &::before
          content: '\f0a8'
          +ab_center
          font-family: FontAwesome
          font-size: 170%
          font-weight: 500
          color: var(--colorMainDeep)
        &.signup
          right: 8px
          &::before
            content: '\f0a9'
      .loading
        position: absolute
        +size(35px, 35px)
        right: 8px
        top: 4px
        border-radius: 50%
        transform-origin: 49% 53%
        animation: rotate 1s steps(8) infinite
        &::before
          content: '\f110'
          +ab_center
          font-family: FontAwesome
          font-size: 150%
          font-weight: 500
          color: var(--colorMainDeep)
    input
      display: block
      width: 100%
      margin: 0 0 20px 0
      padding: 30px 20px 10px 20px
      background: var(--colorLightInputBg)
      border-radius: 12px
      border: solid 1px var(--colorMain)
      color: var(--colorLightInputText)
      font-size: 100%
      font-weight: 500
      letter-spacing: 1px
      transition: 0.2s
      &:focus
        background: var(--colorMain)
        ~.label
          top: 11px !important
          font-size: 70% !important
      &.password
        padding: 30px 55px 10px 20px
      &.error
        border: solid 1px var(--colorError)
  .toggle
    display: none
    &:checked
      ~.picture_block
        background-position: top
        .picture
          .sun
            transform: rotate(-180deg)
          .moon
            transform: rotate(-0turn)
          .mountains
            .mountain_big
              background: var(--colorLightShadow)
            .mountain_small
              background: var(--colorLightBgDeep)
  .picture_block
    position: relative
    +size(50%, 100%)
    background: linear-gradient(to top, var(--colorLightShadowLight), var(--colorLightInputBg), var(--colorLightShadow))
    background-size: 100% 200%
    background-position: bottom
    overflow: hidden
    transition: 0.5s
    label
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      cursor: pointer
      .picture
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        .sun
          position: absolute
          +size(80px, 80px)
          top: 80px
          left: 120px
          border-radius: 50%
          background: var(--colorLightShadowLight)
          box-shadow: 0 0 20px var(--colorMain)
          transition: 1s
          transform-origin: 0 400%
        .moon
          position: absolute
          +size(100px, 100px)
          top: 50px
          left: 70px
          border-radius: 50%
          box-shadow: 20px 20px var(--colorLightShadowLight)
          transition: 1s
          transform-origin: 0 550%
          transform: rotate(+0.5turn)
        .cloud
          position: absolute
          width: 100%
          top: 0
          left: 0
          .cloud_right_top,
          .cloud_right_bottom,
          .cloud_left
            position: absolute
            +size(60px, 10px)
            top: 100px
            right: 50px
            border-radius: 100px
            background: var(--colorLightBg)
            transition: 0.5s
            animation: cloudFloat 19s linear infinite
            .connect
              position: absolute
              +size(40%, 100%)
              bottom: -100%
              left: 25%
              background: var(--colorLightBg)
              &::before
                content: ''
                position: absolute
                +size(100%, 100%)
                left: -100%
                border-radius: 100px
                background: transparent
                box-shadow: 15px 0 5px 2px var(--colorLightBg), 15px 0 5px 2px var(--colorLightBg)
              &::after
                content: ''
                position: absolute
                +size(100%, 100%)
                right: -100%
                border-radius: 100px
                background: transparent
                box-shadow: -15px 0 5px 2px var(--colorLightBg), -15px 0 5px 2px var(--colorLightBg)
            .group
              position: absolute
              +size(150%, 100%)
              bottom: -200%
              left: -20%
              border-radius: 100px
              background: var(--colorLightBg)
          .cloud_right_bottom
            top: 180px
            right: 100px
            animation: cloudFloat 20s linear infinite
          .cloud_left
            top: 160px
            left: 80px
            animation: cloudFloat 18s linear infinite
        .mountains
          position: absolute
          width: 100%
          bottom: 0
          .mountain_big
            position: absolute
            +size(250px, 300px)
            bottom: 0
            right: -20px
            background: var(--colorLightBgDeep)
            border-radius: 50% 50% 0 0
            // box-shadow: 5px 5px 5px var(--colorLightInputText)
            transition: 0.5s
          .mountain_small
            position: absolute
            +size(200px, 220px)
            bottom: 0
            left: 40px
            background: var(--colorMain)
            border-radius: 50% 50% 0 0
            // box-shadow: 5px 5px 5px var(--colorLightInputText)
            transition: 0.5s